*body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar{
  display: flex;
  flex-direction: row;
  margin: 2rem;
  justify-content: space-between;
}

.list{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 3rem;
}

.listItem{
  text-decoration:none;
  list-style-type: none;
}

.btn{
  border-radius: 0.365rem;
  background-color: rgb(84, 145, 202);
}

.main-container{
  margin: 2rem;
  display: flex;
  height: 75vh;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}